<!DOCTYPE html>
<html>
<head>
	<script src="jquery-3.3.1.min.js"></script>
	<script type="text/javascript">
		
	function getUser() {
		console.log("getUser called");
		/*var username = document.getElementById("userName").value;
		var password = document.getElementById("password").value;
		var inputValue = "/logInUser?userName=" + username + "&password=" + password;*/


		var user = $("#userName").val();
		var pass = $("#password").val();
		console.log("The user" +  user + pass);

		/*console.log("The input value: " + inputValue);
		var xhttp;
 		xhttp = new XMLHttpRequest();
		xhttp.onreadystatechange = function() {
  		if (this.readyState == 4 && this.status == 200) {
    		document.getElementById("demo").innerHTML = this.responseText;
  		}
			};
		xhttp.open("GET", inputValue, true);
		xhttp.send(); */
	}
	</script>
</head>
<body>
	<h2>Week 10 Test</h2>
	<p>Username: billmaxer Password: "Norway40065"</p>
	<p>Username: powerFull Password: "Markets6732"</p>
	<br>
	<form action="javascript:getUser();">
		Username: <br>
		<input type="text" id='userName' name='userName'><br>
		Password: <br>
		<input type="password" id='password' name='password'><br>
		<input type="submit" value="Submit">
	</form>
	<div id="demo"></div>


</body>