<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/stylesheets/pageOne.css">
	<script src="clientsideMain.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body onload="checkIfLoggedInOnLoad()">
	<h2>Week 11 </h2>
	<hr>
	<h3 id="userLoginBar"></h3>

	<div class="topBar">
		<button class="top" onclick="loadProducts()">Products</button>
  		<button class="top" onclick="loadCart()">Cart</button>
  		<div class="topnav-right">
  			<button class="top" onclick="logout()">logOut</button>
  			<button class="top" onclick="loadCheckout()">Checkout</button>
  		</div>
	</div>

	<div id='loginForm' display="none">
		<p>Username: billmaxer Password: "Norway40065"</p>
		<p>Username: powerFull Password: "Markets6732"</p>
		<br>
		<form action="javascript:getUser(); ">
			Username: <br>
			<input type="text" id='userName' name='userName'><br>
			Password: <br>
			<input type="password" id='password' name='password'><br>
			<input type="submit" value="Submit">
		</form>
	</div>

	<div id="products" display="none">
		<h2>Products</h2>

		<table id="productTable" style="width:100%">	
		</table>

	</div>
	<div id="userCart" display="none">
		<h2>Cart</h2>	
	</div>
	<div id="checkout" display="none">
		<h2>Checkout</h2>
	</div>




</body>