<!DOCTYPE html>
<html>
<head>
	<script src="clientsideMain.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
	<h2>Week 11 </h2>
	<h3 id="userLoginBar"></h3>



	<div id='loginForm'>
		<p>Username: billmaxer Password: "Norway40065"</p>
		<p>Username: powerFull Password: "Markets6732"</p>
		<br>
		<form action="javascript:getUser();">
			Username: <br>
			<input type="text" id='userName' name='userName'><br>
			Password: <br>
			<input type="password" id='password' name='password'><br>
			<input type="submit" value="Submit">
		</form>
	</div>

	<div id="demo"></div>


</body>