<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/stylesheets/pageOne.css">
	<script src="clientsideMain.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body onload="checkIfLoggedInOnLoad()">
	<h2>Week 11 </h2>
	<hr>
	<h3 id="userLoginBar"></h3>

	<div class="topBar">
		<button class="topButton" onclick="loadProducts()">Products</button>
  		<button onclick="loadCart()">Cart</button>
  		<button onclick="loadCheckout()">Checkout</button>
	</div>

	<div id='loginForm'>
		<p>Username: billmaxer Password: "Norway40065"</p>
		<p>Username: powerFull Password: "Markets6732"</p>
		<br>
		<form action="javascript:getUser();">
			Username: <br>
			<input type="text" id='userName' name='userName'><br>
			Password: <br>
			<input type="password" id='password' name='password'><br>
			<input type="submit" value="Submit">
		</form>
	</div>

	<div id="products">
	<p>Products</p>
	</div>
	<div id="userCart">
	<p>Users Cart</p>	
	</div>



</body>